{% extends 'base.html' %}

{% block title %}
    Tous les articles de blog 
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Tous les articles </h1>
    
    <div style="display: flex; align-items: center; flex-direction: column;">
        {% for article in mes_articles %}
            <div style="border: 1px solid #ccc; padding: 20px; margin-bottom: 10px; width: 80vw;" >

                <h2 >{{ article.titre_article }}</h2>
                <p>{{article.description_article}}</p>
                <a href=" {% url 'details_article' article.id %} " style="text-decoration: none;"> Voir plus </a>
                

            </div>
        {% endfor %}
    </div>
    
{% endblock %}