{% extends 'base.html' %}

{% block title %}
    Tous les articles de blog 
{% endblock %}

{% block content %}
    <h1  class="title_page">Tous les articles </h1>
    
    <div class="all_article">
        {% for article in mes_articles %}
            <div  class="card" >

                <h2 class="title_article">{{ article.titre_article }}</h2>
                <p class="description_article">{{article.description_article}}</p>
                <a href=" {% url 'details_article' article.id %} "  class="btn_article"> Voir plus </a>
                

            </div>
        {% endfor %}
    </div>
    
{% endblock %}