{% extends 'base.html' %}

{% block title %}
    Tous les articles de blog 
{% endblock %}

{% block content %}
        <div class="btn">
            <a href="/" class="btn_article " > Accueil</a>
        </div>
        
    
        <div class="un_article" >
            <h1 class="title_page">{{ article.titre_article }}</h1>
            <p class="description_article">{{article.description_article}}</p>
            <h2 class="title_section">{{ article.titre_1 }}</h2>
            <p class="description_section">{{ article.paragraphe_1 }}</p>

            {% if article.titre_2 %}
                <h2 class="title_section">{{ article.titre_2 }}</h2>
                <p class="description_section">{{ article.paragraphe_2 }}</p>
            {% endif %}

            {% if article.titre_3 %}
                <h2 class="title_section">{{ article.titre_3 }}</h2>
                <p class="description_section">{{ article.paragraphe_3 }}</p>
            {% endif %}

            {% if article.titre_4 %}
                <h2  class="title_section">{{ article.titre_4 }}</h2>
                <p  class="description_section">{{ article.paragraphe_4 }}</p>
            {% endif %}

        </div>
    
{% endblock %}